<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DaoTestfonct</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>form.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>config.InitialisationDaoFactory</listener-class>
  </listener>
  
  
  
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlet.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>ProduitReflex</display-name>
    <servlet-name>ProduitReflex</servlet-name>
    <servlet-class>servlet.ProduitReflex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduitReflex</servlet-name>
    <url-pattern>/ProduitReflex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProduitCompact</display-name>
    <servlet-name>ProduitCompact</servlet-name>
    <servlet-class>servlet.ProduitCompact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduitCompact</servlet-name>
    <url-pattern>/ProduitCompact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Find</display-name>
    <servlet-name>Find</servlet-name>
    <servlet-class>servlet.Find</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find</servlet-name>
    <url-pattern>/Find</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>supprimer</display-name>
    <servlet-name>supprimer</servlet-name>
    <servlet-class>servlet.supprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimer</servlet-name>
    <url-pattern>/supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chercher</display-name>
    <servlet-name>chercher</servlet-name>
    <servlet-class>servlet.chercher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chercher</servlet-name>
    <url-pattern>/chercher</url-pattern>
  </servlet-mapping>
</web-app>